################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eCook/FileContentIndex
/CookingService/bin/Debug/net6.0
/CookingService/obj/Debug/net6.0
/NotificationService/obj/Debug/net6.0
/OrderingService/bin/Debug/net6.0
/OrderingService/obj/Debug/net6.0
/KitchenService/bin/Debug/net6.0
/KitchenService/obj
/OrderService/bin/Debug/net6.0
/OrderService/obj
/PaymentService/obj
/PaymentService/bin/Debug/net6.0
/CommonService/obj
/CommonService/bin/Debug/net6.0
/KitchenService/bin/Debug
/OrderService/bin/Debug
/PaymentService/bin/Debug
